main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#value{
    margin:20px;
   
    font-size: xxx-large;
}
.btn{
    padding: 5px;
}

.decrease{
    background-color: tomato;
}
.reset{
    background-color: gray;
}
.increase{
    background-color: lightblue;
}
